
#include "resource.h"

#include "bitmap.h"

IDB_STARTBITMAP         BITMAP  MOVEABLE PURE   "bitmap_start.bmp"
IDB_HOMEBITMAP          BITMAP  MOVEABLE PURE   "bitmap_home.bmp"
IDB_2048BITMAP          BITMAP  MOVEABLE PURE   "bitmap_2048.bmp"
IDB_HEIBAIQIBITMAP      BITMAP  MOVEABLE PURE   "bitmap_heibaiqi.bmp"
IDB_20482BITMAP         BITMAP  MOVEABLE PURE   "bitmap_20482.bmp"
IDB_WUZIBITMAP			BITMAP  MOVEABLE PURE	"bitmap_wuzi.bmp"
IDB_WUZI2BITMAP			BITMAP	MOVEABLE PURE	"bitmap_wuzi2.bmp"
IDB_HEIBAIQI2BITMAP     BITMAP  MOVEABLE PURE   "bitmap_heibaiqi2.bmp"
IDB_BACKBITMAP          BITMAP  MOVEABLE PURE   "bitmap_back.bmp"
IDB_BACK2BITMAP         BITMAP  MOVEABLE PURE   "bitmap_back2.bmp"
IDB_RESTARTBITMAP       BITMAP  MOVEABLE PURE   "bitmap_restart.bmp"
IDB_RESTART2BITMAP      BITMAP  MOVEABLE PURE   "bitmap_restart2.bmp"
IDB_UNDOBITMAP          BITMAP  MOVEABLE PURE   "bitmap_undo.bmp"
IDB_UNDO2BITMAP         BITMAP  MOVEABLE PURE   "bitmap_undo2.bmp"
IDB_BG1BITMAP           BITMAP  MOVEABLE PURE   "bitmap_bg1.bmp"
IDB_BG2BITMAP           BITMAP  MOVEABLE PURE   "bitmap_bg2.bmp"
IDB_CELL2BITMAP         BITMAP  MOVEABLE PURE   "bitmap_cell2.bmp"
IDB_CELL4BITMAP         BITMAP  MOVEABLE PURE   "bitmap_cell4.bmp"
IDB_CELL8BITMAP         BITMAP  MOVEABLE PURE   "bitmap_cell8.bmp"
IDB_CELL16BITMAP        BITMAP  MOVEABLE PURE   "bitmap_cell16.bmp"
IDB_CELL32BITMAP        BITMAP  MOVEABLE PURE   "bitmap_cell32.bmp"
IDB_CELL64BITMAP        BITMAP  MOVEABLE PURE   "bitmap_cell64.bmp"
IDB_CELL128BITMAP       BITMAP  MOVEABLE PURE   "bitmap_cell128.bmp"
IDB_CELL256BITMAP       BITMAP  MOVEABLE PURE   "bitmap_cell256.bmp"
IDB_CELL512BITMAP       BITMAP  MOVEABLE PURE   "bitmap_cell512.bmp"
IDB_CELL1024BITMAP      BITMAP  MOVEABLE PURE   "bitmap_cell1024.bmp"
IDB_CELL2048BITMAP      BITMAP  MOVEABLE PURE   "bitmap_cell2048.bmp"
IDB_CELL4096BITMAP      BITMAP  MOVEABLE PURE   "bitmap_cell4096.bmp"
IDB_BLACKBITMAP         BITMAP  MOVEABLE PURE   "bitmap_black.bmp"
IDB_WHITEBITMAP         BITMAP  MOVEABLE PURE   "bitmap_white.bmp"
IDB_RUNNABLEBITMAP      BITMAP  MOVEABLE PURE   "bitmap_runnable.bmp"
IDB_WIN1BITMAP          BITMAP  MOVEABLE PURE   "bitmap_win1.bmp"
IDB_WIN2BITMAP          BITMAP  MOVEABLE PURE   "bitmap_win2.bmp"
IDB_LOSE1BITMAP         BITMAP  MOVEABLE PURE   "bitmap_lose1.bmp"
IDB_LOSE2BITMAP         BITMAP  MOVEABLE PURE   "bitmap_lose2.bmp"
IDB_TIEBITMAP           BITMAP  MOVEABLE PURE   "bitmap_tie.bmp"
IDB_WUZIBLACKBITMAP		BITMAP	MOVEABLE PURE	"bitmap_wiziBlack.bmp"
IDB_WUZIWHITEBITMAP		BITMAP	MOVEABLE PURE	"bitmap_wuziWhite.bmp"
IDB_CHOOSEBGBITMAP  	BITMAP  MOVEABLE PURE   "bitmap_chooseBG.bmp"
IDB_CHOOSEBLACKBITMAP   BITMAP  MOVEABLE PURE   "bitmap_chooseBlack.bmp"
IDB_CHOOSEBLACK2BITMAP  BITMAP  MOVEABLE PURE   "bitmap_chooseBlack2.bmp"
IDB_CHOOSEWHITEBITMAP   BITMAP  MOVEABLE PURE   "bitmap_chooseWhite.bmp"
IDB_CHOOSEWHITE2BITMAP  BITMAP  MOVEABLE PURE   "bitmap_chooseWhite2.bmp"
IDB_BITMAP1             BITMAP  DISCARDABLE     "bitmap1.bmp"



